<div class="row" >
       <div class="container" align="center">
        <div class="col-sm-7" align="center">
          <h1>Incremento/ Decremento</h1>
    
          <h2 [ngStyle]="{ color: contador < 10 ? '#ffc107' : '#007bff' }"
          [ngClass]="{custom: contador === 10}">
            {{ contador }}
          </h2>
          <button (click)="dec()" class="btn btn-warning tamanho">--</button>
          <button (click)="inc()" class="btn btn-primary tamanho">++</button>
    
          <div *ngIf="contador > 10; else menor">
            <h2>contador MAIOR que 10</h2>
          </div>

          <ng-template #menor>
            <h2>Contador MENOR que 10</h2>
          </ng-template>


      </div>
       </div>
      
</div>
